<div class="form-group">
  <label for="agreement_name" class="required">Agreement Name</label>
  <input id="agreement_name"
         placeholder="Enter Agreement Name"
         class="form-control"
         {{#if defaultValue}} value="{{defaultValue}}" {{/if}}
         {{#if readonly}} readonly {{/if}}>
</div>
