<div class="container-fluid h-100" id="WF_container">
  <div class="row h-100 justify-content-center align-items-center">
    <div id="workflow_form">
      <div class="workflow_header">
        <h1>{{heading}}</h1>
      </div>
      <div class="workflow_content">
        {{errorBody}}
      </div>
    </div>
  </div>
</div>
