<div role="group" aria-labelledby="expiration-label">
  <div class="compose-option-group checkbox-a12" role="presentation">
    <label class="form-check-label">
      <input type="checkbox" id="expiration-checkbox" class="expiration">
      <span id="expiration-label">Completion Deadline</span>
    </label>
  </div>
  <div id="expiration-details" class="form-group expiration-in-time" role="presentation">
    <input id="expiration-time" type="date" class="form-control">
  </div>
  <div class="ancillary-text hidden" role="presentation">
    <span id="expiration-in-days-desc" aria-live="polite" aria-relevant="additions text" aria-atomic="true">
      <span class="medium expiration-after-text hidden"></span>
    </span>
  </div>
</div>
