<div class="form-group form-row file_info_div">
  <label for="{{inputId}}" class="col-md-4 col-form-label {{#if required}}required{{/if}}">
    {{label}}
  </label>
  <div class="col-md-8">
    <div class="custom-file">
      <input type="file" id="{{inputId}}" class="custom-file-input" {{#if required}}required {{/if}}>
      <span class="custom-file-label text-truncate" aria-hidden="true">Please Upload A File</span>
    </div>
  </div>
</div>
