<div class="form-group form-row">
  <label for="{{inputId}}" class="col-form-label {{#if required}}required{{/if}}">
    {{label}}
  </label>
  <div class="col">
    <input type="text" id="{{inputId}}" class="form-control"
      {{#if defaultValue}} value="{{defaultValue}}"{{/if}}
      {{#if required}} required {{/if}}
      {{#if readonly}} readonly {{/if}}
    >
  </div>
</div>
