<div class="form-group">
  <label for="messages_input">Message</label>
  <textarea id="messages_input" name="messages_input" class="form-control"
            rows="3"
            placeholder="Message"
            {{#if readonly}} readonly {{/if}}>{{#if defaultValue}}{{defaultValue}}{{/if}}</textarea>
</div>
