<div class="alert alert-danger fade in alert-popup " role="alert">
  {{#if messages}}
    <ol class="alert-errors">
      {{#each messages}}
        <li class="alert-error collapse in">{{this}}</li>
      {{/each}}
    </ol>
  {{else}}
    {{message}}
  {{/if}}
</div>
