<div role="group" aria-labelledby="pdf-protect-label">
  <div class="compose-option-group checkbox-a12" role="presentation">
    <label class="form-check-label">
      <input type="checkbox" id="pdf-protect" class="pdf-protect" {{#if required}} checked disabled {{/if}}>
      <span id="pdf-protect-label">Password Protect</span>
    </label>
    <div id="password-container" {{#unless required}}hidden {{/unless}}>
      <p class="pass-strength-subtitle">Password must contain 3 to 32 characters.</p>
      <div class="pass-input">
        <input
          type="password"
          aria-label="Password"
          autocomplete="off"
          placeholder="Password"
          id='protect-password'
          class="password form-control has-error"
          required
        >
        <input
          type="password"
          aria-label="Confirm password"
          autocomplete="off"
          placeholder="Confirm password"
          id='protect-password-confirm'
          class="confirm-pss form-control"
          required
        >
        <div class="password-toggle-label control-label small">
          <input type="checkbox" class="password-checkbox checkbox-input" id="show-password">
          <label for="show-password">Show password</label>
        </div>
        <div class="password-error"></div>
      </div>
    </div>
  </div>
</div>
