<div role="group" aria-labelledby="reminder-option-label">
  <div class="compose-option-group checkbox-a12">
    <label class="form-check-label">
      <input type="checkbox" id="reminder-option" class="checkbox-input reminder-option">
      <span class="checkbox-image"></span>
      <span id="reminder-option-label">Set Reminder</span>
    </label>
  </div>
  <div id="reminder-details" class="form-group reminder-frequency" role="group" aria-labelledby="reminder-option-label">
    <select id="reminder-frequency" class="form-control reminder-frequency-select">
      {{#each reminderFrequencyOptions}}<option value="{{value}}">{{descr}}</option>{{/each}}
    </select>
  </div>
</div>
