/********** workflow_selector **********/
#workflow_selector{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#option_submit_button{
    font-size: 15px;
    padding: 0 14px;
    line-height: 32px;
    font-weight: 400;
    min-width: 80px;
    width: 100%;
    background-color: var(--workflow-from-select-button-color);
    color: black;
}

#workflow_dropdown_label{
    font-size: 24px;
    color: white;
}

#workflow_dropdown{
    font-size: 14px;
    border-radius: 1px;
}

/********** dynamic_form **********/
.add_section{
    margin-bottom: 40px;
}

#add_button{
    width: 50%;
    float: left;
    padding: 5px;
}

#remove_button{
    width: 50%;
    float: right;
    padding: 5px;
}
